.card-container{
    width: 20vw;
    height: 20vh;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    cursor: pointer;
    background-color: white;
    color: black;
    border-radius: 10px;

    align-content: center;
}

.card-container:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 0px;
}

.card-content{
    margin: 1rem;
    margin-top: 0.5rem;
}